.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.header {
  margin-bottom: 0px !important;
  border: none;
}

.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px;
  border: none;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.avatar {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 150px;
  height: 150px;
}

.best-week {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  width: 200px;
  height: 200px;
}

.avatar-menu {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

.img-contratados {
  height: 200px;
  width: 100%;
  display: block;
}

gm-map {
  display: inline-block;
  width: 100%;
  height: 100%;
}

gm-map>div {
  display: inline-block;
  position: initial !important;
  width: 100%;
  height: 100%;
}

.nuestra-propuesta {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 6px;
}

.logo {
  display: block;
  weight:40px;
  height:40px
}

.hero-title {
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 40px;
}

.text-center {
  text-align: center;
}

.hero {
  min-height: 300px;
  background: url("../images/services.jpg") no-repeat center center / cover rgba(0, 0, 0, 1);
  color: #FFF;
}

.search-input {
  padding: 5px;
}

.hero-search-box {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
